@page "/"
@inject HttpClient httpClient 
@implements IDisposable

<div>
    @if (_htmlCode == null)
    {
        <p>Loading...</p>
    }
    else
    {
        //decode html string to render html code    
        @((MarkupString)_htmlCode)       
    }
</div>

@code {
    private string _markdownContent; 
    private string _htmlCode; 
    private CancellationTokenSource _cts = new CancellationTokenSource();
    protected override async Task OnInitializedAsync()

    {
        try
        {                       
            _markdownContent = await httpClient.GetStringAsync("https://raw.githubusercontent.com/edsonlcandido/edsonluizcandido/main/wwwroot/Index.md");
            _htmlCode = Markdig.Markdown.ToHtml(_markdownContent);
        }
        catch (Exception e) when (e is HttpRequestException || e is TaskCanceledException)
        {
            Console.WriteLine(e.Message);
        }
    }

    public void Dispose()
    {
        _cts.Cancel();
    }
}